*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(Bilder/Mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    background-color: black;
}

nav ul {
    display: flex;
    background-image: linear-gradient(rgb(35, 35, 35),transparent);
    
}

nav ul li{
    margin: auto;
    padding: 1%;
    font-size: 1.6rem;
   
}

nav a{
    color: white;
}

@media only screen and (max-width: 375px) {
    a{
        font-size: 1rem;
    }
}